table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
	border: 1px solid #dddddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#tool_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tool_table td, #tool_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tool_table tr:nth-child(even){background-color: #f2f2f2;}

#tool_table tr:hover {background-color: #ddd;}

#tool_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}